header {
    width: 100%;
    max-width: 1800px;
    background-color: #ebdddd85;
}

.logo img {
    max-width: 80px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu ul li {
    display: inline;
}

.logo,
.menu {
    display: inline-block;
}

.menu ul li a {
    color: #d30e0be0;
    padding: 0 25px;
    font-size: 25px;
    text-decoration: none;
    margin-left: 140px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu ul li a:hover {
    color: #000;
    border-bottom: 3px solid #000;
    padding-bottom: 15px;
}

.menu {
    position: relative;
    bottom: 40px;
}

.slider {
    background-image: url(/img/slider.jpg);
    height: 780px;
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

main {
    background-color: #ebdddd85;
    width: 100%;
    max-width: 1800px;

}

.item {
    display: inline-block;
    width: 22%;
    margin: 3%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
    text-align: center;
    font-weight: 600;
    border: 2px solid rgb(214, 209, 209);
    padding: 2%;

}

div.preco {
    padding-bottom: 4%;

}

.btn {
    width: 50%;
    background-color: #d30e0be0;
    color: white;
    border: 2px solid black;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    border-radius: 90%;
    display: inline-block;
    cursor: pointer;
}

.btn:hover {
    background-color: #000;
    transition-duration: 1s;
}

.item img {
    width: 98%;
    padding: 1%;

}

footer {
    background-color: #d30e0be0;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 40px;
}

footer label,
footer input,
footer textarea {
    width: 100%;
    padding: 10px;
    margin: 5px;

}

footer form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.whats {
    background-color: green;
    color: white;
    position: fixed;
    bottom: 0;
    right: 150px;
    padding: 20px;
    border-radius: 8px;
}

.Sobre {
    font-size: 22px;
    line-height: 22px;

}

.Sobre p,
.Sobre img {
    display: inline-block;
    width: 30%;
    padding: 1%;


}

.Sobre h1 {
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

.Sobre p {
    float: left;
    margin-left: 15%;
    text-align: justify;
}

.Sobre img {
    border-radius: 30px;
}